.name-part , .row {
    padding-bottom: 20px;
    border-bottom: 2px solid gray !important;
}

.side-left{
    background-color: #bfc1c2 ;
}

.sider-bar ul li{
    padding-bottom: 5px;
}



.side-info , .edu , .info , .la ,.exp{
    border-bottom: 3px dotted gray !important;
    padding-bottom: 20px;
}

.edu p , .right-bar  p{
    font-weight: bold;
    margin-bottom:0px;
}

.edu li , .right-bar li{
    font-weight: 600;
    
}

.info {
    line-height:30px;
    font-weight: 0 !important;
    padding-left: 0 !important;

}

.right-bar p{
    padding-left: 30px;
}

.right-bar span{
    padding-left: 40px;
}

.cet li{
    font-weight: normal !important;
}


.exp{
    position: relative;
  }
  
  .exp::before {
    content: "";
    position: absolute;
    width: 2px;
    top: 55px;
    height: calc(100% - 100px);
    background-color: var(--accent-color);
    z-index: 100;
  }
  
  .timeline-date {
    position: relative;
  }
  
  .timeline-date::before {
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    left: -25px;
    top: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  
  .timeline-items {
    margin-left: 20px;
  }